
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

:root {
  --blue1: #003399;
  --blue2: #0099ff;
  --blue3: #1155cc;
  --blue4: #5A8EEA;
  --yellow:#eecc44;
  --orange: #ff8800;
  --white: #fff;
  --cream: #f3f3f3;
  --cool1: #f2f5f9;
  --cool2: #f4f6ff;
  --grey1: #e5e5e5;
  --grey2: #cecece;
  --grey3: #adadad;
  --grey4: #6c6c6c;
  --grey5: #3e3e3e;
  --black: #000000;
  --green: #33aa33;
  --red: #bb0000;
}

body{
   background-color: var(--white);
}

p{
  margin-top: 6px;
}

.warning{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  background: #fff0dd;
  padding: 6px 0px;
  padding-left: 6px;
  padding-right: 6px;
  position: fixed;
  border: 1px solid var(--orange);
 }

.galleryimg {
  height: auto;
  max-width: 420px;
}

.paragraph{
  margin-top: 48px;
  margin-left: 24px;
  max-width: 900px;  
}

a:visited{
  color: var(--grey4);
}

.example_pane{
  width:100%;
  margin-top: 24px;
  background-color: var(--grey1);
  padding: 24px 24px;
}

.main_content h2{
  margin-top: 24px;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: var(--blue3);
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: var(--white);
  text-align: left;
  padding-left: 15px;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
}    

.wrapper .sidebar ul li a{
  color: var(--white);
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 32px;
}

.wrapper .sidebar ul li a .fa-solid{
    width: 32px;
  }
  
.wrapper .sidebar ul li:hover{
  background-color: var(--blue4);
}
    
.wrapper .sidebar ul li:hover a{
  color: #f8f8f8;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .wordmark{
color: var (--white);
text-align: left;
padding-left: 15px;
margin-bottom: 30px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
  margin-top: 40px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: var(--white);
  color: var(--grey4);
  border-bottom: 1px solid var (--grey1);
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: none;
}

.fixed-header, .fixed-footer{
    width: 100%;
    padding: 10px 10px 10px 10px;
    height: 48px;
    position: fixed;        
    background: var(--white);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    color: var(--grey5);
    display: flex;
    align-items: center;

}
.fixed-header{
    top: 0;
}

.breadcrumb{
    padding: 10px 10px 10px 10px;  
    color: var(--grey3); 
}

table{
  border-collapse: collapse;
  border: 6px solid var(--white);
  padding: 6px 12px;
  text-align: left;
}

th, td{
  min-height: 100px;
  vertical-align: top;
  padding: 6px 12px;
  text-align: left;
  border: 6px solid var(--white);
}

.dodont {
  table-layout: fixed;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  margin: 6px;
  background: var(--cool1);
  border: 6px solid var(--white);
  font-size: .9em;
  line-height: 1.15em;
}

.dont{
  color: var(--white);
  background: var(--red);
  border: 6px solid var(--white);
}

.do{
  color: var(--white);
  background: var(--green);
  border: 6px solid var(--white);
}

.colour-table {
  table-layout: fixed;
  text-align: left;
  font-size: .9em;
  vertical-align: middle;
  width: 100%;
  margin: 6px;
  background: var(--cool1);
  border: 6px solid var(--white);
  line-height: 1.15em;
}

.snippet{
  padding: 0;

  display: inline-block;
  vertical-align: top;
  color: var(--black);
  font-family: 'Monaco', Courier, 'Courier New', monospace;
  font-weight: 500;
  font-size:1em;
  border-radius: 3px;
  border: 1px solid var(--grey3);
  background-color: var(--grey1);
}

.coming-soon{
  color: var(--grey4);
  display: inline-block;
  pointer-events: none;
  margin-top:0;
}

/* Create three columns that floats next to each other for page layout
.column {
    float: left;
    padding: 10px;
  }
  
  .left, {
    width:10%;
  }
  
  .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }
  
  /* Clear floats after the columns
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
*/

/*Table containers for page layout*/

#container {
    display: grid;
    grid-template-columns: minmax(180px, 240px) minmax(200px, 600px) 120px;
    grid-template-rows: auto;
    grid-gap: 12px;
    box-sizing: border-box;
    width: 100%;
    background-color: none;
    padding: 20px;
    min-height:600px;
}
  
#container > div {
    background-color: none;
    padding: 5px;
}

/*Inset sub-nav*/

.inset-subnav{
    min-width: 200px;
    font-family: 'Roboto', sans-serif;
    background: var(--cool1);
    padding: 30px 0px;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    border: 1px solid rgb(221, 221, 221);
  }
  
.inset-subnav-header{
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: left;
    margin-bottom: 6px;
  }
  
.inset-subnav ul li{
    list-style-type: none;
    padding: 2px;
  }    
  
.inset-subnav ul li a{
  list-style-type: none;
  color: #4f4f4f;
  display: block;
}

.inset-subnav li:hover a{
  list-style-type: none;
  color: #0B50C9;
}
 

body .bullet-list li{
  list-style-type: square;
  padding-top: 6px;
  margin-left: 42px;
}

details > summary{
  list-style:none; 
}

details > summary::-webkit-details-marker {
  display: none;
}

.wrapper .sidebar .nest ul li{
  padding-top: 18px;
  padding-bottom: 2px;
  padding-left: 48px;
}

.btn {
  padding: 8px 24px;
  margin-bottom: 12px;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--blue1);
  border:2px solid var(--blue1);
  color: var(--white);
  transition: 0.2s all;
  transition-duration: 0.4s;
  box-shadow: 2px 4px 4px -14px rgba(0, 0, 0, 1);
  cursor: pointer;
  border-radius: 3px;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    transform: scale(0.98);
}


/*RIPPLE EFFECT*/
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}
 
.btn:focus{
  outline:0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px #0099ff;
}

:focus:not(:focus-visible) { 
  outline: 0; 
}

.secondary {
  background-color:#fff;
  border:2px solid #003399;
  color:#003399;
  font-weight:500;
}

#btnCancel{
  margin-left:12px;
}

/*
INTERACTIVE MODAL CSS 

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 2px;
}

.modal-content {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  margin: 25% auto;
  width: 360px;
  max-width: 420px;
  border-radius: 4px;
}

.modal-header {
  background-color: #003399;
  padding: 10px 10px;
  border-radius: 4px 4px 0px 0px;
  color: #fff;
}

.modal-body {
  padding: 12px;
  margin: 12px;
}

.modal-footer {
  background-color: #fff;
  padding: 12px;
  margin: 12px 12px 24px 12px;
  color: #fff;
  text-align: end;
}
*/

.modal-static {
  border-radius: 2px;
  margin-bottom: 0px;
}

.modal-static-content {
  background-color: #fff;
  width: 360px;
  max-width: 420px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.modal-static-header {
  background-color: #003399;
  padding: 12px 12px;
  border-radius: 4px 4px 0px 0px;
  color: #fff;
  font-size: 18px;
}

.modal-static-body {
  padding: 12px;
  margin: 12px;
  font-size: 15px;
  margin-top: none;
  line-height: 1.3em;;
}

.modal-static-footer {
  background-color: #fff;
  text-align: end;
  padding-right: 24px;
  padding-bottom: 36px;
  border-radius: 0px 0px 4px 4px;
}

.close {
  float: right;
  cursor: pointer;
}

.show {
  animation: show 0.3s forwards ease-in;
}


.column {
  float: left;
  width: 50%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 18px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 0px 0px 0px 0px;
  text-align: left;
  background-color: var(--white);
  border-radius: 3px; /* 3px rounded corners */
}

.card-lower{
  padding: 12px 18px 18px 18px;
  color: var(--grey4)
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
  border-radius: 3px 3px 0 0;
  max-height: 100px;
}

/* Tooltip container */
.tooltip {
  margin-top: 0;
  color: var(--grey3);
  position: relative;;
  display: inline-block;/* I
  border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@keyframes show {
  to {
    top: 0;
  }
}

@media screen and (max-width: 638px) {
  .modal-content {
    margin: 50% auto !important;
  }
}

@media (max-height: 500px){
  .social-media{
    display: none !important;
  }
}